/* Dark Mode Styles with compact spacing */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0; /* Eliminar margen por defecto */
    padding: 0; /* Asegurarse de que no haya padding en el body */
  }
  
  .container {
    padding: 5px 20px; /* Reducir padding superior a 5px */
  }
  
  h1 {
    color: #BB86FC;
    margin-top: 0; /* Eliminar margen superior */
    margin-bottom: 0.5rem; /* Mantener margen inferior pequeño */
    font-size: 1.75rem;
  }
  
  p {
    color: #B0BEC5;
    margin: 0 0 1rem; /* Mantener margen inferior para separación */
  }
  
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  @media(min-width: 768px) {
    .project-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media(min-width: 1024px) {
    .project-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .project-card {
    background-color: #1F1F1F;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  .project-card h3 {
    color: #03DAC6;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .project-description {
    color: #B0BEC5;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  a {
    background-color: #BB86FC;
    color: white;
    text-align: center;
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #3700B3;
  }
  
  iframe {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px solid #303030;
    margin-top: 0.5rem;
  }
  